name: test-runner

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  test_job:
    name: test job
    runs-on: ubuntu-latest
    steps:
      - name: "test"
        id: test
        run: |
          echo "hello world"
        shell: bash
